.main {
  text-align: center;
}

.title {
  color: #a5790b;
  font-size: 1.5rem;
  margin: 1.5rem;
  font-family: monospace;
}

.inputs-container {
  display: flex;
  justify-content: center;
}
.inputs-container > div {
  width: 3rem;
  margin: 0 0.5rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (max-aspect-ratio: 6/8) {
  .inputs-container > div {
    width: 2.5rem;
    margin: 0px 0.1rem;
  }
}


@media (max-aspect-ratio: 4/8) {
  .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
    padding: 0 !important;
  }
}